Practice implementation for various predictive models

In [5]:
import pandas as pd
import numpy as np
from binance.client import Client
from datetime import datetime, timedelta
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score, classification_report
from sklearn.impute import SimpleImputer

In [2]:
client = Client()

# Set the start date and current date
start_date = "1 Jan, 2020"
end_date = datetime.now().strftime("%d %b, %Y")

# Fetch the klines/candlestick data
klines = client.get_historical_klines("BTCUSDT", Client.KLINE_INTERVAL_1DAY, start_date, end_date)

# Create a DataFrame
df = pd.DataFrame(klines, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])

# Convert timestamp to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

# Set timestamp as index
df.set_index('timestamp', inplace=True)

# Convert relevant columns to float
float_columns = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume']
df[float_columns] = df[float_columns].astype(float)

# Keep only the columns we're interested in
df = df[['open', 'high', 'low', 'close', 'volume']]

In [3]:
df.head()

               open    high      low    close        volume
timestamp
2020-01-01  7195.24  7255.0  7175.15  7200.85  16792.388165
2020-01-02  7200.77  7212.5  6924.74  6965.71  31951.483932
2020-01-03  6965.49  7405.0  6871.04  7344.96  68428.500451
2020-01-04  7345.00  7404.0  7272.21  7354.11  29987.974977
2020-01-05  7354.19  7495.0  7318.00  7358.75  38331.085604

In [4]:
df.shape

(1653, 5)